<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sokumeishi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>49605CFFE8A75D72683FAAE12D9BD6DCE0339B0C</string>
				<key>dateExpires</key>
				<string>2026/10/08</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49605CFFE8A75D72683FAAE12D9BD6DCE0339B0C</string>
						<key>dateExpires</key>
						<string>2026/10/08</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GK79P6R4DF</string>
						<key>name</key>
						<string>Kurita Hajime</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49605CFFE8A75D72683FAAE12D9BD6DCE0339B0C</string>
						<key>dateExpires</key>
						<string>2026/10/08</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GK79P6R4DF</string>
						<key>name</key>
						<string>Kurita Hajime</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49605CFFE8A75D72683FAAE12D9BD6DCE0339B0C</string>
						<key>dateExpires</key>
						<string>2026/10/08</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GK79P6R4DF</string>
						<key>name</key>
						<string>Kurita Hajime</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GK79P6R4DF.com.yourdomain.sokumeishi</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>GK79P6R4DF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>sokumeishi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e442285d-4a9b-4e5a-91ca-31cb9a1e5523</string>
				<key>dateExpires</key>
				<string>2026/11/03</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.yourdomain.sokumeishi</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GK79P6R4DF</string>
				<key>name</key>
				<string>Kurita Hajime</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
